<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ .Site.Title }}</title>
{{ partial "style.html" . }}
</head>
<body>
<h1>{{ .Site.Title }}</h1>
{{ $paginator := .Paginate .Site.RegularPages.ByDate.Reverse }}
{{ range $paginator.Pages }}
<article class="card">
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02 15:04 MST" }}</time>
  <p>{{ .Plain | truncate 200 }}</p>
</article>
{{ end }}
{{ partial "pagination.html" . }}
</body>
</html>
